{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>COVID-19 Doctor</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{% static "css/normalize.css" %}">
  <link rel="stylesheet" href="{% static "css/skeleton.css" %}">
  <link rel="stylesheet" href="{% static "css/clinic.css" %}">

  <link rel="icon" type="image/png" href="{% static "images/favicon.png" %}">

  {% block head %}{% endblock %}
</head>
<body>

<div class="banner">
  <h5>Test Mode</h5>
  <p>This site is not yet fully up and running, so things may not work correctly. Thanks for your patience!</p>
</div>

{% block content %}
{% endblock %}

</body>
</html>
