{% extends "clinic/base.html" %}
{% block content %}

<div class="container disclaimer">
  <div class="row top">
    <h2><a href="{% url 'index' %}">COVID-19 Clinic</a></h2>
    <h4>Privacy Policy</h4>
    <div>
      <div>Privacy Policy</div>
      <div>Your Information. Your Rights. Our Responsibilities.</div>
      <p>Fam Computer LLC values the privacy rights of its website users. This notice describes how information about you may be used and disclosed by Fam Computer LLC and its affiliated groups and how you can get access to this information. <b>Please review it carefully.</b></p>
      <div>Summary</div>
      <div><b>Your Rights</b></div>
      <div>You have the right to: </div>
      <ul>
        <li>Get a copy of your information in paper or electronically</li>
        <li>Correct your personal information</li>
        <li>Request confidential communication</li>
        <li>Ask us to limit the information we share</li>
        <li>Get a list of those with whom we’ve shared your information</li>
        <li>Get a copy of this privacy notice</li>
        <li>Choose someone to act for you</li>
        <li>File a complaint if you believe your privacy rights have been violated</li>
      </ul>
      <div><b>Your Choices</b></div>
      <div>You have some choices in the way that we use and share information as we: </div>
      <ul>
        <li>Tell family and friends about your condition</li>
        <li>Provide disaster relief</li>
        <li>Provide mental health care</li>
      </ul>
      <div><b>Our Uses and Disclosures</b></div>
      <div>We may use and share your information as we:</div>
      <ul>
        <li>Connect you with volunteers</li>
        <li>Run our organization</li>
        <li>Help with public health and safety issues</li>
        <li>Do research</li>
        <li>Comply with the law</li>
        <li>Work with a medical examiner or funeral director</li>
        <li>Address workers’ compensation, law enforcement, and other government requests</li>
        <li>Respond to lawsuits and legal actions</li>
      </ul>
      <div>Your Rights</div>
      <div><b>When it comes to your information, you have certain rights.</b></div>
      <p>This section explains your rights and some of our responsibilities to help you.</p>
      <div><b>Get a copy of your information in paper or electronically</b></div>
      <ul>
        <li>You can ask to see or get an electronic or paper copy of your medical record and other information we have about you. Ask us how to do this.</li>
        <li>We will provide a copy or a summary of your health information, usually within 30 days of your request. We may charge a reasonable, cost-based fee.</li>
      </ul>
      <div><b>Ask us to correct your personal information</b></div>
      <ul>
        <li>You can ask us to correct personal information about you that you think is incorrect or incomplete. Ask us how to do this.</li>
        <li>We may say “no” to your request, but we’ll tell you why in writing within 60 days.</li>
      </ul>
      <div><b>Request confidential communications</b></div>
      <ul>
        <li>You can ask us to contact you in a specific way (for example, home or office phone) or to send mail to a different address.</li>
        <li>We will say "yes" to all reasonable requests.</li>
      </ul>
      <div><b>Ask us to limit what we use or share</b></div>
      <ul>
        <li>You can ask us not to use or share certain health information for treatment or our operations. We are not required to agree to your request, and we may say “no”.</li>
        <li>If you pay for a service or health care item out-of-pocket in full, you can ask us not to share that information for the purpose of payment or our operations with your health insurer. We will say “yes” unless a law requires us to share that information.</li>
      </ul>
      <div><b>Get a list of those with whom we’ve shared information</b></div>
      <ul>
        <li>You can ask for a list (accounting) of the times we’ve shared your health information for six years prior to the date you ask, who we shared it with, and why.</li>
        <li>We will include all the disclosures except for those about treatment, health care operations, and certain other disclosures (such as any you asked us to make). We’ll provide one accounting a year for free but will charge a reasonable, cost-based fee if you ask for another one within 12 months.</li>
      </ul>
      <div><b>Get a copy of this privacy notice</b></div>
      <p>You can ask for a paper copy of this notice at any time, even if you have agreed to receive the notice electronically. We will provide you with a paper copy promptly.</p>
      <div><b>Choose someone to act for you</b></div>
      <ul>
        <li>If you have given someone medical power of attorney or if someone is your legal guardian, that person can exercise your rights and make choices about your health information.</li>
        <li>We will make sure the person has this authority and can act for you before we take any action.</li>
      </ul>
      <div><b>File a complaint if you feel your rights are violated</b></div>
      <ul>
        <li>You can complain if you feel we have violated your rights by contacting us using the information on the bottom of this page.li&gt;
        </li>
        <li>You can file a complaint with the U.S. Department of Health and Human Services Office for Civil Rights by sending a letter to 200 Independence Avenue, S.W., Washington, D.C. 20201, calling 1-877-696-6775, or visiting <b>www.hhs.gov/ocr/privacy/hipaa/complaints/</b>.</li>
        <li>We will not retaliate against you for filing a complaint.</li>
      </ul>
      <div>Your Choices</div>
      <div><b>For certain health information, you can tell us your choices about what we share.</b></div>
      <p>If you have a clear preference for how we share your information in the situations described below, talk to us. Tell us what you want us to do, and we will follow your instructions.</p>
      <div>In these cases, you have both the right and choice to tell us to:</div>
      <ul>
        <li>Share information with your family, close friends, or others involved in your care</li>
        <li>Share information in a disaster relief situation</li>
      </ul>
      <div><i>If you are not able to tell us your preference, for example if you are unconscious, we may go ahead and share your information if we believe it is in your best interest. We may also share your information when needed to lessen a serious and imminent threat to health or safety.</i></div>
      <div>In these cases we never share your information unless you give us written permission:</div>
      <ul>
        <li>Most sharing of psychotherapy notes</li>
      </ul>
      <div>Our Uses and Disclosures</div>
      <div><b>How do we typically use or share your personal information?</b></div>
      <p>We typically use or share your personal information in the following ways.</p>
      <div><b>Connect you to volunteers</b></div>
      <p>We can use your information and share it with volunteers who are helping you.</p>
      <p><i>Example: A volunteer helping you asks another volunteer about your overall health condition.</i></p>
      <div><b>Run our organization</b></div>
      <p>We can use and share your information to improve our services and contact you when necessary.</p>
      <p><i>Example: We use information about you to manage your services.</i></p>
      <div><b>How else can we use or share your information?</b></div>
      <p>We are allowed or required to share your information in other ways – usually in ways that contribute to the public good, such as public health and research. We have to meet many conditions in the law before we can share your information for these purposes. For more information see: <a target="_blank" href="https://www.hhs.gov/hipaa/for-individuals/guidance-materials-for-consumers/index.html">www.hhs.gov/ocr/privacy/hipaa/understanding/consumers/index.html</a>.</p>
      <div><b>Help with public health and safety issues</b></div>
      <div>We can share health information about you for certain situations such as:</div>
      <ul>
        <li>Preventing disease</li>
        <li>Helping with product recalls</li>
        <li>Reporting adverse reactions to medications</li>
        <li>Reporting suspected abuse, neglect, or domestic violence</li>
        <li>Preventing or reducing a serious threat to anyone’s health or safety</li>
      </ul>
      <div><b>Do research</b></div>
      <p>We can use or share your information for health research.</p>
      <div><b>Comply with the law</b></div>
      <p>We will share information about you if state or federal laws require it, including with the Department of Health and Human Services if it wants to see that we’re complying with federal privacy law.</p>
      <div><b>Work with a medical examiner or funeral director</b></div>
      <p>We can share health information with a coroner, medical examiner, or funeral director when an individual dies.</p>
      <div><b>Address workers’ compensation, law enforcement, and other government requests</b></div>
      <div>We can use or share health information about you:</div>
      <ul>
        <li>For workers’ compensation claims</li>
        <li>For law enforcement purposes or with a law enforcement official</li>
        <li>With health oversight agencies for activities authorized by law</li>
        <li>For special government functions such as military, national security, and presidential protective services</li>
      </ul>
      <div><b>Respond to lawsuits and legal actions</b></div>
      <p>We can share health information about you in response to a court or administrative order, or in response to a subpoena.</p>
      <div><b>Our Responsibilities</b></div>
      <ul>
        <li>We are required by law to maintain the privacy and security of your protected health information.</li>
        <li>If we have your contact information, we will let you know promptly if a breach occurs that may have compromised the privacy or security of your information.</li>
        <li>We must follow the duties and privacy practices described in this notice and give you a copy of it.</li>
        <li>We will not use or share your information other than as described here unless you tell us we can in writing. If you tell us we can, you may change your mind at any time. Let us know in writing if you change your mind.</li>
      </ul>
      <p>For more information see: <a target="_blank" href="https://www.hhs.gov/ocr/privacy/hipaa/understanding/consumers/noticepp.html">www.hhs.gov/ocr/privacy/hipaa/understanding/consumers/noticepp.html</a>.</p>
      <div><b>Changes to the Terms of this Notice</b></div>
      <p>We can change the terms of this notice, and the changes will apply to all information we have about you. The new notice will be available upon request on our website.</p>
      <div><b>Questions</b></div>
      <p>If you have any questions about this Notice, you may contact Fam Computer LLC by emailing <a href="mailto:contact@doc19.org">contact@doc19.org</a>.</p>
    </div>
  </div>
</div>

{% endblock %}
