{% extends "clinic/base.html" %}

{% block head %}
<meta http-equiv="refresh" content="15">
{% endblock %}

{% block content %}

<div class="container waiting patient">
  <div class="row top">
    <h2>COVID-19 Clinic</h2>
    <h4>Waiting for a volunteer</h4>
    <p>This page will automatically refresh every 15 seconds.</p>
    <form action="{% url 'finish' %}" method="post">
      {% csrf_token %}
      <input class="button" type="submit" value="Cancel">
    </form>
  </div>
</div>

{% endblock %}
